{% load static %}

<!-- mobile-nav.html -->
<div class="mobile-nav-toggle" id="mobile-nav-toggle">
    <img src="{% static 'images/burger.png' %}" alt="Мобилно меню - Дарс Имоти"/>
</div>

<div class="mobile-nav-overlay" id="mobile-nav-overlay"></div>

<div class="mobile-nav-menu" id="mobile-nav-menu">
    <div class="mobile-nav-close" id="mobile-nav-close">&times;</div>
    
    <ul>
        <li><a href="{% url 'home' %}">Начало</a></li>
        <li><a href="{% url 'about' %}">За нас</a></li>
        <li><a href="{% url 'pricing' %}">Услуги</a></li>
        <li><a href="{% url 'faq' %}">Вашите въпроси</a></li>
        <li><a href="{% url 'news' %}">Новини</a></li>
        <li><a href="{% url 'contacts' %}">Контакти</a></li>
    </ul>
    
    <div id="mobile-nav-animation">
        
        <img src="{% static 'images/mobile-nav-animation-crop-speed.gif' %}" alt="Анимация на мобилното меню - Дарс Имоти">
        
    </div>
    
</div>

<script>
    const toggle = document.getElementById('mobile-nav-toggle');
    const menu = document.getElementById('mobile-nav-menu');
    const close = document.getElementById('mobile-nav-close');
    const overlay = document.getElementById('mobile-nav-overlay');
    
    function openMobileMenu() {
        console.log("opened")
        document.getElementById('mobile-nav-animation').classList.add('show');
        // Add your mobile nav open logic here too
    }

    function closeMobileMenu() {
        document.getElementById('mobile-nav-animation').classList.remove('show');
        // Add your mobile nav close logic here too
    }

    toggle.addEventListener('click', () => {
        menu.classList.add('open');
        overlay.classList.add('show');
        openMobileMenu()
    });

    close.addEventListener('click', () => {
        menu.classList.remove('open');
        overlay.classList.remove('show');
        closeMobileMenu()
    });

    overlay.addEventListener('click', () => {
        menu.classList.remove('open');
        overlay.classList.remove('show');
        closeMobileMenu()
    });
</script>
