{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    Новини Дарс Имоти - {{ news.title }}
{% endblock %}

{% block content %}

    <div class="article-container">
        <h1>{{ news.title }}</h1>

        <div class="article-image">
            <img src="{% static 'images/' %}{{ news.article_image }}.jpg" alt="{{ news.title }}">
        </div>

        <p>{{ news.introduction }}</p>

        <div class="section">
            <h2>{{ news.subtitle1 }}</h2>
            <p>{{ news.subcontent1 }}</p>
        </div>

        <div class="section">
            <h2>{{ news.subtitle2 }}</h2>
            <p>{{ news.subcontent2 }}</p>
        </div>

        <div class="section">
            <h2>{{ news.subtitle3 }}</h2>
            <p>{{ news.subcontent3 }}</p>
        </div>
    </div>
{% endblock %}
