asgiref==3.8.1
Brotli==1.1.0
click==8.1.8
colorama==0.4.6
Django==5.1.6
gunicorn==23.0.0
h11==0.14.0
packaging==24.2
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.3
tzdata==2025.1
uvicorn==0.34.0
whitenoise==6.9.0
