{% load static %}

<section id="cta">

    <div id="cta-wrapper">

        <div id="cta-media">

            <div id="cta-img-ct">

                <img id="cta-yellow" src="{% static 'images/yellow-circle.png' %}" alt="Жълт декоративен елемент">

                <img src="{% static 'images/cta-image.png' %}" alt="Ръка подаваща нов имот">


            </div>

            <h2 id="sm-ct">Готови ли сте да направите следващата стъпка?</h2>

        </div>

        <div id="cta-copy">

            <div id="cta-inner-copy">

                <h2 id="lg-ct">Готови ли сте да направите следващата стъпка?</h2>
                <p>Независимо дали искате да купите, продадете или наемете имот – ние сме тук, за да ви съдействаме с
                    професионализъм и внимание към всеки детайл. Отношение и внимание към клиента.</p>

            </div>

            <div id="cta-cta">

                <div id="cta-cta-buttons">

                    <a href="tel:+359885648335" id="cta-contacts">Обадете ни се</a>
                    <a href="https://darsimoti.imot.bg/" target="_blank" id="cta-properties">Разгледай
                        имотите</a>

                </div>

            </div>

        </div>

    </div>

</section>