{% load static %}

<section id="services">

    <h2>Услуги</h2>
    <p>"Аг-я "ДАРС ИМОТИ"ЕООД предлага пълен пакет от консултантски,посредничеството и юридически услуги при
        закупуване,продажба,отдаване под наем,наемане и управление на недвижими имоти както и съдействие при банково
        кредитиране .</p>

    <div id="services-ct">

        <div class="service-card">

            <div class="media-copy-ct">

                <div class="media-ct">

                    <img src="{% static 'images/flat-keys.png' %}"
                         alt="Ключове за нов апартамент - покупка или продажба на имот">


                </div>

                <div class="service-copy">

                    <h3>Покупко-продажба /наеми</h3>
                    <p>Съдействие при покупка, продажба и наем на имоти за продавачи, купувачи, наематели и наемодатели.
                        Професионални огледи, маркетинг и сделки.</p>

                </div>

            </div>
            {#            <div class="service-more-ct">#}
            {##}
            {#                <a href="{% url 'pricing' %}#transactions-pg" class="service-cta">Виж още</a>#}
            {##}
            {#            </div>#}

        </div>

        <div class="service-card">

            <div class="media-copy-ct">

                <div class="media-ct">

                    <img src="{% static 'images/services2.png' %}" alt="Финансови решения за недвижими имоти">


                </div>

                <div class="service-copy">

                    <h3>Финансови решения</h3>
                    <p>Помощ за жилищни/ипотечни и потребителски кредити с преференциални условия,
                        главно за купувачи, както и за
                        други клиенти.</p>

                </div>

            </div>

        </div>

        <div class="service-card">

            <div class="media-copy-ct">

                <div class="media-ct">

                    <img src="{% static 'images/services4.png' %}" alt="Управление на имоти в Пловдив">


                </div>

                <div class="service-copy">

                    <h3>Управление на имоти</h3>
                    <p>Пълно управление за наемодатели – от наематели до поддръжка, плюс подготовка на имоти за
                        продавачи.</p>

                </div>

            </div>

        </div>

        <div class="service-card">

            <div class="media-copy-ct">

                <div class="media-ct">

                    <img src="{% static 'images/services1.png' %}" alt="Строително-ремонтни дейности в Пловдив">

                </div>

                <div class="service-copy">

                    <h3>Строително ремонтни дейности</h3>
                    <p>Предоставяме препоръки за доверени майстори и утвърдени фирми за всякакъв вид ремонт или
                        строителство.</p>

                </div>

            </div>

        </div>

    </div>

    <a href="{% url 'pricing' %}" class="service-cta">Виж всички услуги</a>

</section>


