{% load static %}

<section id="stats">

    <div id="stats-wrapper">

        <div id="stats-media">

            <div id="stats-img-ct">

                <img style="height: 65%; width: 85%" src="{% static 'images/logo.png' %}" alt="Дарс Имоти лого">

            </div>

        </div>

        <div id="stats-copy">

            <div id="stats-years">

                <h2><span>20</span> Години сме с вас</h2>
                <p><span id="">Дарс Имоти</span> има дългогодишен опит в бранша с недвижими имоти на територията на България. Работим с
                    внимание и любов към клиента, защото знаем, че покупката и продажбата на имот са важна част от
                    живота на всеки човек. 

                    Нашият почерк е да работим коректно и открито, както с клиентите си, така и с колегите от този
                    бизнес.</p>

            </div>

            <div id="stats-clients">

                <h2><span>1000 +</span> Доволни клиенти</h2>
                <p>Работим с внимание към индивидуалните нужди и вярваме, че личното отношение прави разликата. С над
                    1000 успешно обслужени клиенти зад гърба си, знаем как да превърнем процеса в приятно и сигурно
                    изживяване.</p>

            </div>

        </div>

    </div>

    <div id="about-cta">

        <a href="{% url 'about' %}">Вижте повече за нас</a>

    </div>

</section>
