{% load static %}
<div id="team-wrapper">

    <div id="team-section">

        <div id="team-heading-section">

            <h2>Вашата подкрепа в света на имотите</h2>
{#            <p>Ние сме семейство и като семейство ще подхождаме към вас.</p>#}

        </div>

        <div id="team-cards">

            <div class="member-card">

                <div class="member-card-left-container">

                    <div class="member-card-image"><img alt="Снежана Шкодрова" src="{% static 'images/snejana-shkodrova.jpg' %}"></div>

                </div>

                <div class="member-card-right-container">

                    <div class="member-card-heading-section">

                        <h3>Снежана Шкодрова</h3>
                        <p>Основател</p>

                    </div>

                    <div class="member-card-secondary-section">

                        <p>Брокер и основател на<span> "Аг-я "ДАРС ИМОТИ"ЕООД</span> с 20 години опит в сферата на недвижимите имоти. Помагам на клиентите си
                            да намерят точния дом или инвестиция, като подхождам с внимание и професионализъм. За мен
                            доверието и личното отношение са най-важни. Ще се радвам да бъда до вас във всяка стъпка!
                        </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>