{% load static %}
<div id="about-top-wrapper">

    <div id="about-top-section">

        <div id="about-top-text-container">


            <img id="about-yellow-dec" alt="" src={% static 'images/yellow-circle.png' %}>


            <h1>Нашата <span class="about-title-span">мисия</span></h1>
            <p>Нашата мисия е да осигуряваме сигурни, навременни и обмислени сделки като превърнем закупуването на новия
                Ви дом в едно приятно преживяване! Всяка една сделка с имот е обвързана с много емоции, притеснения и
                колебания
                и затова се стараем всеки един наш клиент да чувства и усеща увереност и подкрепа в наше лице.

                Знаем, че имиджът на професията „брокер“ у нас не е достатъчно добър, за разлика от западните
                държави, където тя се приема за престижна. Затова се опитваме, придържайки се към професионалните и
                етични стандарти, да променим това. </p>

        </div>

        <div id="about-top-image-container">

            <h1 id="about-title">Нашата <span class="about-title-span"><br></br>мисия</span></h1>

            <div id="about-top-image">
                <img src="{% static 'images/about-hero.png' %}" alt="Основно изображение за секцията 'За нас'">
            </div>

        </div>

    </div>

</div>