{% load static %}
<div id="work-road-wrapper">

    <div id="work-road-section">

        <div id="work-road-text-container">

            <h2><span>Нашият</span> подход</h2>
            <p>Три принципа, които ни водят – от първия разговор до ключа за новия ви дом.</p>

        </div>

        <div id="work-road-cards-section">

            <div class="work-road-card">

                <div class="work-road-card-image-section">

                    <div class="work-road-card-image">
                        <img src="{% static 'images/trust.png' %}" alt="Икона символизираща доверие">
                    </div>

                </div>

                <div class="work-road-card-text">

                    <h3>Доверие и Подкрепа</h3>
                    <p>Разбираме емоциите, съмненията и притесненията при покупка или продажба на имот. Работим с
                        човешко отношение, внимание и пълна подкрепа, за да усещате сигурност и увереност.

                    </p>

                </div>

            </div>

            <div class="work-road-card">

                <div class="work-road-card-image-section">

                    <div class="work-road-card-image">
                        <img src="{% static 'images/mission-icon.png' %}"
                             alt="Икона символизираща мисията на компанията">
                    </div>


                </div>

                <div class="work-road-card-text">

                    <h3>Професионализъм с Мисия</h3>
                    <p>Следваме високи професионални и етични стандарти. Действаме прозрачно и коректно – не само за
                        нашите клиенти, а и за отсрещната страна, защото вярваме, че добрата сделка е честна за
                        всички.</p>

                </div>

            </div>

            <div class="work-road-card">

                <div class="work-road-card-image-section">

                    <div class="work-road-card-image">
                        <img src="{% static 'images/middle-man1.png' %}" alt="Илюстрация на посредник в имотни сделки">
                    </div>


                </div>

                <div class="work-road-card-text">

                    <h3>Повече от посредник</h3>
                    <p>Работим не просто за ключа в ръката ви, а за спокойствието в сърцето ви.
                        Сделката минава – доверието остава.
                    </p>

                </div>

            </div>

        </div>

    </div>

</div>