#work-road-wrapper {
    z-index: 1;
    padding: 4em 0 1em 0;
    width: 100%;
    background-color: #2d4157;
}

#work-road-section {
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 4em;
}

#work-road-text-container {
    font-size: 1.1em;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#work-road-text-container h2, #work-road-text-container p {
    color: #e4e3e3;
}


#work-road-text-container h2 span {
    color: #CFAE4F;
}


/*,*/
/*,*/
/*,*/
/*,*/
/*,*/


#work-road-cards-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
    padding-bottom: 2em;
}

.work-road-card {
    padding: 1.5em;
    min-width: 300px;
    flex: 1;
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 25px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

/*,*/
/*,*/
/*,*/
/*,*/
/*,*/


.work-road-card-image-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.work-road-card-image {
    width: 150px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}

.work-road-card-image img {
    width: 100%;
}


/*,*/
/*,*/
/*,*/
/*,*/
/*,*/


.work-road-card-text {
    /*width: 100%;*/
}

.work-road-card h3 {
    width: 100%;
    color: #424551;
    font-size: 1.3em;
    margin-bottom: 0.3em;
}


@media (max-width: 780px) {

    #work-road-wrapper {
        padding: 2em 0 1em 0;
    }

    #work-road-section {
        gap: 2em;
    }

    #work-road-text-container {
        text-align: center;
    }

    #work-road-text-container p {
        font-size: 0.9em;
    }

}